@import url('https://fonts.gooleapis.com/css?family=poppins:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}



.planeta {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.planeta h2 {
    color: rgb(245, 241, 241);
    font-size: 4em;
    margin-bottom: 10px;
    font-weight: 600;
    text-shadow: 0px 0px 7px rgb(0, 247, 255);
}

#radio-on {
    color: green;
    font-size: 20px;
    margin-top: 10px;
}

.planeta .container1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-reflect: below 1px linear-gradient(#0001, #0002);
}

.planetaterra {
    position:absolute;
    min-width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #182357;
}

.planetaterra .loader {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.planetaterra .loader:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0, 255, 249, 0.4));
    background-size: 200px 360px;
    background-repeat: no-repeat;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}

.planetaterra .loader:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #00fff9;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px #00fff9, 0 0 20px #00fff9, 0 0 30px #00fff9, 0 0 40px #00fff9, 0 0 50px #00fff9, 0 0 60px #00fff9, 0 0 70px #00fff9, 0 0 80px #00fff9, 0 0 90px #00fff9, 0 0 100px #00fff9, ;
}

.planetaterra .loader span {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 0px;
    background: #182357;
    border-radius: 50%;
}

.terra {
    position: absolute;
    width: 270px;
    height: 270px;
    background: url(/earth.jpg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px #03a9f4, 0 0 120px #0b171d;
    animation: animateEarth 20s linear infinite;
}

@keyframes animateEarth {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 162.5%;
    }
}



.terra2 {
   
    position: absolute;
    width: 70px;
    height: 70px;
    background: url(/earth.jpg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px #03a9f4, 0 0 120px #0b171d;
    animation: animateEarth 20s linear infinite;
    justify-content: center ;

}


.planeta .container2 {
    width: 100%;
    display: flex;
    justify-content:right;
    align-items: right;
    
    -webkit-box-reflect: below 1px linear-gradient(#0001, #0002);
}
.planetaterra2 {
    
  
    height: 100vh;

    align-items: center;
    background: #182357;
}
.img{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    
}
.playlist{
    width: 100%;
    overflow-y: scroll;
    margin-top: 35px;
    text-align: center;
}
.card01{
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    width: 90%;
}
.card{
    width: 90%;
    height: 50vh;
}
button{
    background-color: green;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
}
p{
    color: white;
}
h1 ,h3{
    color: red;
}